.title {
    font-weight: bolder;
    margin: 1rem auto;
}

// ===> CSS for GoalForm.jsx 
.newGoal {
    font-weight: bolder;

}

.goalsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2e394f;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    width: fit-content;
}
.buttonSave {
    background-color: #fca311;
    padding: .5rem 3rem .5rem 3rem;
    border-radius: .5rem;
    text-decoration: none;
    :link {text-decoration: none;}
}

// ===> CSS for GoalDisplay.jsx 

.containerGoal {
    display: flex;
    justify-content: center;
}

.item{
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: .5rem;
    font-weight: bolder;
}

.perGoal{
    background-color: #2e394f;
    width: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border-radius: 15px;
    color: white;
    margin: 2rem;
}

.goalTitle{
    font-weight: 800;
}

.goalAmount{
    font-weight: bolder;
    color: black;
}

.addAmount{
    padding: 1rem;
    font-weight: bolder;
}

.addAmountInput {
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    padding: .5rem;

}
.addAmountButton {
    background-color: #fca311;
    padding: 0rem 3rem 0 3rem;
    border-radius: 5px;
}

.circle {
    background-color: white;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    padding-top: 2.5rem;
    margin-top: 0.5rem;
}

.circle2 {
    background-color: #fca311;
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

button {
    width: fit-content;
    font-weight: bolder;
    background-color: grey;
    color: white;
    border: none;
    margin-top: 5rem;
}
// ===> CSS for GoalParent.jsx 
.editButton {
    background-color: lightgray;
    color: #14213d;
    padding: .5rem 3rem;
    border-radius: .5rem;
    margin: .5rem;
}

// ===> CSS for GoalsPage.jsx 
.addGoal {
    background-color: #fca311;
    padding: .5rem 10rem;
    border-radius: .5rem;
    :link {text-decoration: none;}
}