// Style for the nav bar that will be located at the bottom of every page
.navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    border: 1px gray dotted;
    width: fit-content;
    margin: 1rem auto;
    border-radius: .5rem;
    :link {text-decoration: none;}
    font-weight: bolder;
}

// Change of style in case when the screen size is smaller in this case is for a phone 
@media all and (max-width: 500px) {
    .navbar {
        flex-wrap: wrap;
        width: fit-content;
        gap: 1rem;
        font-size: x-small;
    }
}

